<div class="main">
    <div>
        <img src="its-logo.png" alt="ITS Logo">
    </div>
    <div>
        <form>
            <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm">
            <button (click)="search()">
                <img src="icons/search.png" alt="">
            </button>
        </form>
    </div>
    <div >
        <button (click)="inReloading()">
            <img src="icons/refresh.png" alt="">
        </button>
        @if (inEdit === true) {
            
            <button>
                <img src="icons/add.png" alt="">
            </button>
        } @else {

            <button (click)="inAdding()">
                <img src="icons/add.png" alt="">
            </button>
        }
        
    </div>
</div>  