<div class="main">
    <div>
        <img src="its-logo.png" alt="ITS Logo">
    </div>
    <div>
        <form>
            <input type="text" placeholder="Search..." [(ngModel)]="searchTerm" name="searchTerm">
            <button (click)="search()">search</button>
        </form>
    </div>
    <div >
        <button (click)="inReloading()">refresh</button>
        @if (inEdit === true) {
            
            <button>add</button>
        } @else {

            <button (click)="inAdding()">add</button>
        }
        
    </div>
</div>  