<header>
    <app-header 
        (inAdd)="onAdding($event)" 
        (inSearch)="onSearch($event)"
        [IsAdding]="isAdding"
        (inReload)="onReload($event)"
        [inEdit]="InEdit"
    >
    </app-header>
</header>
<main>
    <app-list 
    (conctactModified)="onModified($event)" 
    (inDelete)="onDelete($event)" 
    [contacts]="this.contacts" 
    [IsAdding]="isAdding" 
    (inAdd)="onAdding($event)"
    (inEdit)="onEditing($event)"
    >
    
</app-list>
</main>

<router-outlet></router-outlet>